[submodule "frontend-demo"]
	path = frontend-demo
	url = git@gitlab.informatik.haw-hamburg.de:forum40/frontend-demo.git
[submodule "backend-demo"]
	path = backend-demo
	url = git@gitlab.informatik.haw-hamburg.de:forum40/backend-demo.git
